onceagain.pro.user
*.o
Makefile
/onceagain
moc_*cpp
qrc_resources.cpp
.qmake.stash
/release
Makefile.*
moc_*
*pro.user.*
CMakeFiles
*.qrc.depends
CMakeCache.txt
cmake_install.cmake
mocs_compilation.cpp
.ninja*
*.ninja
/bin
CMakeLists.txt.user
install_manifest.txt
onceagain.cbp
